name: CI-CD LOCAL

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: set up node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      
      - name: Install Dependencies
        run: npm ci
      
      - name: Run tests
        run: npm test
      
      - name: Build Docker Image
        run: docker build -t express-local:latest . 


      - name: Delete Old Docker Containers
        run: |  
          docker stop express-local || true
          docker rm express-local || true
          
      - name: Run Container
        run: | 
          docker run -d \
          --name express-local \
          -p 3000:3000 \
          express-local:latest
